<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .dropdown-container {
            position: relative;
            display: inline-block;
        }

        .dropdown-button {
            background-color: white;
            color: black;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-option {
            padding: 10px 20px;
            text-decoration: none;
            display: block;
            color: #333;
        }

            .dropdown-option:hover {
                background-color: #ddd;
            }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugBusters</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bugbusters.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Početna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PSE" asp-action="Index">Periodni sistem elemenata</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown-container">
                                <button class="dropdown-button">Lekcije</button>
                                <div class="dropdown-content">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Kisik" asp-action="Index" class="dropdown-option">Kisik</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Kisik" asp-action="Index" class="dropdown-option">Sumpor</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Kisik" asp-action="Index" class="dropdown-option">Vodik</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Kisik" asp-action="Index" class="dropdown-option">Soli</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Kisik" asp-action="Index" class="dropdown-option">Baze</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Kisik" asp-action="Index" class="dropdown-option">Kiseline</a>
                                </div>
                            </div>

                            <script>
                                const dropdownButton = document.querySelector(".dropdown-button");
                                const dropdownContent = document.querySelector(".dropdown-content");

                                dropdownButton.addEventListener("click", function () {
                                    dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
                                });
                            </script>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Modeli" asp-action="Index">Modeli</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>